<div class="container-fluid login">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="logo">
                <img [src]="appLogo" alt="logo">
                <br>
            </div>
            <div class="content">
                <form *ngIf="formResetToggle" class="login-form" name="loginForm" #f="ngForm" novalidate (ngSubmit)="f.form.valid ? login() :
                          (!phone.valid && showErrorAlert('Phone is required', 'Please enter a valid phone'));
                          (!password.valid && showErrorAlert('Password is required', 'Please enter a valid password'))">
                    <!-- <h3 class="form-title app-component appTitle">{{appTitle}}</h3> -->
                    <div class="alert alert-danger display-hide">
                        <button class="close" data-close="alert"></button>
                        <span> Enter any username and password. </span>
                    </div>
                    <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">Phone</label>
                        <div class="input-icon">
                            <i class="fa fa-user"></i>
                            <input type="text" placeholder="phone" class="form-control placeholder-no-fix" name="phone" [(ngModel)]="userLogin.phone"
                                #phone="ngModel" required id="login-phone">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label visible-ie8 visible-ie9">Password</label>
                        <div class="input-icon">
                            <i class="fa fa-lock"></i>
                            <input type="password" placeholder="pass" class="form-control placeholder-no-fix" name="password" id="login-pass" [(ngModel)]="userLogin.password"
                                #password="ngModel" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="rememberme mt-checkbox mt-checkbox-outline">
                            <input type="checkbox" name="remember" id="login-rememberme" [(ngModel)]="userLogin.rememberMe">{{'login.Remem' | translate}}
                            <span></span>
                        </label>
                        <a class="pull-right" href="">{{'login.Forgot' | translate}}</a>
                    </div>
                    <div class="form-group" style="text-align: center;">
                        <button type="submit" class="btn green" [disabled]="isLoading">{{'login.SignIn' | translate}}</button>
                    </div>
                    <div class="form-group" style="text-align: center;">
                        <p>
                            <span>{{'login.NoAcc' | translate}}</span> &nbsp;
                            <a href="/sign-up" class="link-a">{{'login.SignUp' | translate}}</a>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">

        </div>
    </div>
</div>
<script src="js/jquery.min.js" type="text/javascript"></script>
