<div class="container-fluid login">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="logo">
                <img [src]="appLogo" alt="logo">
                <br>
            </div>
            <div class="content">
                <form class="signup-form" name="signupForm" #f="ngForm" novalidate (ngSubmit)="f.form.valid ? signup() :
                          (!fullname.valid && showErrorAlert('Fullname is required', 'Please enter a valid phone'));
                          (!password.valid && showErrorAlert('Password is required', 'Please enter a valid password'))">
                    <div class="login-form">
                        <!-- <h3 class="form-title app-component appTitle">{{appTitle}}</h3> -->
                        <div class="alert alert-danger display-hide">
                            <button class="close" data-close="alert"></button>
                            <span> Enter any username and password. </span>
                        </div>
                        <div class="form-group">
                            <label class="control-label visible-ie8 visible-ie9">ieFull Name</label>
                            <div class="input-icon">
                                <i class="fa fa-user"></i>
                                <input type="text" placeholder="full name" class="form-control placeholder-no-fix" name="fullname" id="fullname" [(ngModel)]="userSignUp.fullname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label visible-ie8 visible-ie9">Phone</label>
                            <div class="input-icon">
                                <i class="fa fa-phone"></i>
                                <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Phone" name="phone" [(ngModel)]="userSignUp.phone"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label visible-ie8 visible-ie9">Password</label>
                            <div class="input-icon">
                                <i class="fa fa-lock"></i>
                                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Password" name="password" [(ngModel)]="userSignUp.password"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label visible-ie8 visible-ie9">Re-Password</label>
                            <div class="input-icon">
                                <i class="fa fa-lock"></i>
                                <input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-Password" name="re-password" [(ngModel)]="userSignUp.repassword"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="rememberme mt-checkbox mt-checkbox-outline">
                                <input type="checkbox" name="remember" value="1" /> {{'signup.IAgree' | translate}}
                                <span></span>
                            </label>
                            <a href="">{{'signup.Terms' | translate}}</a>
                        </div>
                        <div class="form-group" style="text-align: center;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6">
                                    <button type="submit" class="btn green"> Sign up </button>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <button type="submit" class="btn"> Cancel </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
        </div>
    </div>
</div>
