<div class="page-wrapper">
    <div class="page-header navbar navbar-fixed-top all-box-shadow" *ngIf="isUserLoggedIn">
        <div class="page-header-inner ">
            <div class="page-logo">
                <a href="#" style="margin-top: 10px;">
                    <span class="tit">Whale Land</span>
                </a>
                <div class="menu-toggler sidebar-toggler">
                    <span></span>
                </div>
            </div>
            <div class="top-right-menu">
                <ul class="nav navbar-nav pull-left">
                    <li class="dropdown dropdown-user custome-toggle">
                        <a class="dropdown-toggle" data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
                            <!-- <img alt="" class="img-circle" src="assets/images/add.png"> -->
                            <i class="fa fa-plus-square" style="font-size: 20px"></i>
                            <span class="username username-hide-on-mobile"> trợ năng </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default show-popup">
                            <li>
                                <button class="btn show-sub-menu">thêm mới học sinh</button>

                            </li>
                            <li>
                                <button class="btn show-sub-menu">mua khóa học cho user</button>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav pull-left">
                    <li class="dropdown dropdown-user custome-toggle">
                        <a class="dropdown-toggle" data-close-others="true" data-hover="dropdown" data-toggle="dropdown" href="javascript:;" aria-expanded="false">
                            <!-- <img alt="" class="img-circle" src="assets/images/stat.png"> -->
                            <i class="fa fa-bar-chart" style="font-size: 20px"></i>
                            <span class="username username-hide-on-mobile"> thống kê </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default show-popup">
                            <li>
                                <button class="btn show-sub-menu">giao dịch</button>

                            </li>
                            <li>
                                <button class="btn show-sub-menu">tiến độ tài trợ</button>
                            </li>
                            <li>
                                <button class="btn show-sub-menu">lịch sử sử dụng</button>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="top-menu">
                <ul class="nav navbar-nav">

                    <div class="form-group" style="margin-top: 8px;">
                        <div class="input-icon">
                            <i class="fa fa-search"></i>
                            <input class="form-control placeholder-no-fix" type="text" [(ngModel)]="textSearch" placeholder="search" name="search">
                        </div>
                    </div>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li class="dropdown dropdown-user custome-toggle" id="custome-toggle">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <img alt="" class="img-circle" src="assets/images/avatar3_small.jpg" />
                            <span class="username username-hide-on-mobile"> Admin </span>
                            <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default" *ngIf="isUserLoggedIn">
                            <li>
                                <a href="page_user_profile_1.html">
                                    <i class="icon-user"></i> My Profile
                                </a>
                            </li>
                            <li (click)="logout()">
                                <a href="#">
                                    <i class="icon-key"></i> {{'mainMenu.Logout' | translate}}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="clearfix"> </div>
    <div class="page-container">
        <div class="page-sidebar-wrapper" *ngIf="isUserLoggedIn">
            <div class="page-sidebar navbar-collapse collapse">
                <ul id="a" class="page-sidebar-menu  page-header-fixed " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"
                    style="padding-top: 20px">
                    <li class="nav-item start show-sub-menu">
                        <a [routerLink]="['/home']" class="nav-link">
                            <i class="icon-home"></i>
                            <span class="title">Dashboard</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li class="heading">
                        <h3 class="uppercase">Dashboard</h3>
                    </li>
                    <li class="nav-item tab-table show-sub-menu thong-ke">
                        <a [routerLink]="['/home']" class="nav-link">
                            <i class="icon-briefcase"></i>
                            <span class="title">Thống kê</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li class="nav-item  show-sub-menu">
                        <a [routerLink]="['/teacher']" class="nav-link">
                            <i class="icon-wallet"></i>
                            <span class="title">Giáo viên</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li class="nav-item show-sub-menu">
                        <a [routerLink]="['/class']" class="nav-link">
                            <i class="icon-layers"></i>
                            <span class="title">Lớp</span>
                            <!--<span class="selected"></span>-->
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li class="nav-item  show-sub-menu">
                        <a [routerLink]="['/account']" class="nav-link">
                            <i class="icon-wallet"></i>
                            <span class="title">Tài khoản</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li class="nav-item  show-sub-menu">
                        <a [routerLink]="['/chat']" class="nav-link">
                            <i class="icon-wallet"></i>
                            <span class="title">Chat</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li class="nav-item  show-sub-menu">
                        <a [routerLink]="['/sendnews']" class="nav-link">
                            <i class="icon-wallet"></i>
                            <span class="title">Gửi thông báo</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li class="nav-item  show-sub-menu">
                        <a [routerLink]="['/home']" class="nav-link">
                            <i class="icon-wallet"></i>
                            <span class="title">Cài đặt tài trợ</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li class="nav-item  show-sub-menu">
                        <a [routerLink]="['/home']" class="nav-link">
                            <i class="icon-wallet"></i>
                            <span class="title">Thanh toán</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li class="nav-item  show-sub-menu">
                        <a [routerLink]="['/home']" class="nav-link">
                            <i class="icon-wallet"></i>
                            <span class="title">Lịch sử</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                    <li class="nav-item  show-sub-menu">
                        <a [routerLink]="['/setting']" class="nav-link">
                            <i class="icon-wallet"></i>
                            <span class="title">Cài đặt</span>
                            <span class="arrow"></span>
                        </a>
                    </li>
                </ul>
                <ul class="page-sidebar-menu  page-header-fixed menu-main" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200"
                    style="padding-top: 20px">
                    <li class="heading">
                        <h3 class="uppercase">Tables</h3>
                    </li>
                    <li class="nav-item active tab-table">
                        <a href="#" class="nav-link">
                            <i class="icon-briefcase"></i>
                            <span class="title">Trường mầm non A</span>
                        </a>
                    </li>
                    <li class="nav-item tab-table">
                        <a href="#" class="nav-link">
                            <i class="icon-briefcase"></i>
                            <span class="title">Trường mầm non B</span>
                        </a>
                    </li>
                    <li class="nav-item tab-table">
                        <a href="#" class="nav-link">
                            <i class="icon-briefcase"></i>
                            <span class="title">Trường mầm non C</span>
                        </a>
                    </li>
                    <div class="row">
                        <div class="col-xs-12" style="margin-top: 30px; text-align: center">
                            <button class="btn show-sub-menu thong-ke">Thêm trường</button>
                        </div>
                    </div>

                </ul>
            </div>
        </div>

        <div id="mainContent" class="app-component">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
